body {
    margin: 0;
    padding: 0;
    background-color: #0B2C51; 
    color: white;
    text-align: center;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

h1 {
   font-family: monospace, 'Courier New';
   text-decoration: none;
   font-weight: lighter;
   margin: 0; 
   font-size: 24px; 
}
@media screen and (max-width: 768px) {
    img {
        max-width: 80%; 
    }

    h1 {
        font-size: 12px; 
    }
}
